<main class="template-page-main">
    <div class="header-navbar-content">
        <div class="header-navbar content">
            <a href="#">
                <img src="assets/images/logo2.png" class="header-logo-img" id="headerLogo">
            </a>
            <!--<div class="menu-icon" id="home-menu"></div>-->
            <button type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="menu-content">
                <ul>
                    <li><a href="#howitworks">How it works</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#!login">Login</a></li>
                </ul>
                <div class="sign-up-content">
                    <a href="#!/signup"><button class="btn blue-btn sign-up-btn" id="sign-up-b-btn">SIGN UP</button></a>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="col-lg-12 col-md-12 a_about_header">
                <div class="a_header_main">
                   <p class="text-center color_white_text_a_font">About us</p>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p class="a_text_p_about_content">
                        HipRez makes it easy for everyone to get online with a stunning, professional and functional web presence.
                        We provide our customers with powerful resume templates that help you grab the attention of your future employer.
                        No graphic design or coding knowledge needed – just the complete freedom to express yourself and manage
                        your business presence online. HipRez has something for everyone. So, whether you’re a business
                        professional, musician, entrepreneur, bride or student, we have all the tools and resources needed to build an amazing
                        online presence for you. We keep complex techy processes behind the scenes and guarantee that your experience is simple,
                        fun and code-free. We are a young, creative team who is on a mission to help people enhance their online presence and
                        land the job of their dreams!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="content">
            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <img class="footer-logo-img" src="../assets/images/logo2.png">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p>+961311566</p>
                                <p><a href="">info@moodfit.com</a></p>
                                <p class="icons-content">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p><a href="#!/about">About</a></p>
                                <p><a href="#!/privacy-policy">Privacy Policy</a></p>
                                <p><a href="#!/terms-of-use">Terms of use</a></p>
                                <p><a href="#!/contact-us">Contact Us</a></p>
                                <p><a href="#!/faq">FAQ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p class="text-center">Copyright 2017. All rights reserved</p>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $(window).scrollTop(0);
        })
    </script>
</main>