<main class="template-page-main">
    <div class="header-navbar-content">
        <div class="header-navbar content">
            <a href="#">
                <img src="assets/images/logo2.png" class="header-logo-img" id="headerLogo">
            </a>
            <!--<div class="menu-icon" id="home-menu"></div>-->
            <button type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="menu-content">
                <ul>
                    <li><a href="#howitworks">How it works</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#!login">Login</a></li>
                </ul>
                <div class="sign-up-content">
                    <a href="#!/signup"><button class="btn blue-btn sign-up-btn" id="sign-up-b-btn">SIGN UP</button></a>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="col-lg-12 col-md-12 a_privacy_header">
                <div class="a_header_main_privacy">
                    <p class="text-center color_white_text_a_font">FAQ</p>
                </div>
            </div>
        </div>
        <div class="row a_margin_bottom_some">

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>How does the HipRez experience work?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        Great question! HipRez’s main goal is to help those who want to embellish their current resume without spending countless hours trying to fix or create an attractive resume site. The process of receiving your new resume site from us is quite simple. First, you will need to select the desired template you want for your new resume site. Choose from one of our recruiter approved and graphic friendly templates to be used for your new online resume. Next, you will need to create a HipRez account for logging into our site and reviewing your finished product. Then, you will need to upload your resume or share your LinkedIn profile with us so we can create your resume site with all the correct info needed to provide you the best product possible. Finally, your finished resume site will be emailed to you and be ready for action in the job market!</p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>How long does it take to receive my new resume?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        The typical turnaround for a resume is between 1-3 business days. Depending on our sales queue it can be within 24 hours. If you do not hear from us for some reason in that timeframe please contact our support at support@hiprez.com and they will investigate and get back to you ASAP!
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>How do I place my resume order?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        Once you have successfully selected your resume template, created an account, and uploaded your resume info, you will be prompted with our billing screen to process your order.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>What are your payment options?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        We accept all major credit card types (Mastercard, Visa, American Express, and Discover) and PayPal.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>Is my information safe with HipRez?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">

                        Yes! We have helped improve thousands of customers resumes and all have been pleased with the security of their resume and billing information. We don’t store any of your credit card information (that’s handled by our payment processors, Stripe and PayPal, the best in the business!) and will never share any of your information with third parties or anyone else. You have our word on it!

                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>Is a hosting subscription necessary for my site to be active?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        Yes. You will need to choose one of our premier hosting packages at a very reasonable rate to make your new resume active. Choose between our monthly or annual hosting packages. You can cancel your service with these at any time. Please refer to our terms for full details on subscription services.

                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4> What domain will be used for my resume site?

                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        As a default option we will provide your site to you under our HipRez domain with your first and last name as a subdomain. For example, if John Smith purchased a resume site with us his resume url would be johnsmith.hiprez.com. However, you will be offered to purchase a custom domain for your resume site at a low cost so you won’t have to worry about having HipRez in your domain. Your site could be as simple as johnsmith.com which a lot of our customers prefer!
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>How do I update information on my resume?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        If you change jobs or learn a new skill that you want to showcase, please reach out to us by emailing support@hiprez.com and we will take care of it! Even if you want to change your resume template we can handle that for you as well. We want all of our customers to get that dream job they always wanted so if there is anything we can do to help improve your resume please give us a shout!

                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>How do I cancel my account?
                    </h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        You will need to reach out to us contacting support@hiprez.com and one of our customer service representatives will handle the cancellation of your account. If needed, they can also discontinue any subscription services you have with us.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="content">
            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <img class="footer-logo-img" src="../assets/images/logo2.png">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p>+961311566</p>
                                <p><a href="">info@moodfit.com</a></p>
                                <p class="icons-content">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p><a href="#!/about">About</a></p>
                                <p><a href="#!/privacy-policy">Privacy Policy</a></p>
                                <p><a href="#!/terms-of-use">Terms of use</a></p>
                                <p><a href="#!/contact-us">Contact Us</a></p>
                                <p><a href="#!/faq">FAQ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p class="text-center">Copyright 2017. All rights reserved</p>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $(window).scrollTop(0);
        })
    </script>
</main>