<main class="template-page-main">
    <div class="header-navbar-content">
        <div class="header-navbar content">
            <a href="#">
                <img src="assets/images/logo2.png" class="header-logo-img" id="headerLogo">
            </a>
            <!--<div class="menu-icon" id="home-menu"></div>-->
            <button type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="menu-content">
                <ul>
                    <li><a href="#howitworks">How it works</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#!login">Login</a></li>
                </ul>
                <div class="sign-up-content">
                    <a href="#!/signup"><button class="btn blue-btn sign-up-btn" id="sign-up-b-btn">SIGN UP</button></a>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="col-lg-12 col-md-12 a_privacy_header">
                <div class="a_header_main_privacy">
                    <p class="text-center color_white_text_a_font">Privacy policy</p>
                </div>
            </div>
        </div>
        <div class="row a_margin_bottom_some">

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>Welcome to HipRez.com’s Privacy Policy!</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        HipRez.com truly respects the privacy of its users, and is fully committed to protect their personal information and use it properly. This policy describes how we may collect and use personal information, and the rights and choices available to our visitors and users regarding such information.

                        We strongly urge you read this policy and make sure you fully understand and agree with it, before you access or use any of our services. If you do not read, fully understand and agree to this Privacy Policy, you must immediately leave this website, application or service, and avoid or discontinue all use of any of our services.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>Your Consent (please read carefully!)</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        This HipRez.com Privacy Policy (“Privacy Policy”) describes how we (HipRez.com Ltd., together with its affiliated companies worldwide – “HipRez”, “we” or “us”) may collect and use information pertaining to each of our unregistered visitors and registered users (each, a “Visitor” or “User” (respectively), or “you”), in connection with their access to and use of HipRez’s websites (including www.HipRez.com and any of its subdomains, the “Website”), web applications (“HipRez Apps”), mobile applications (“Mobile Apps”), and related services (collectively, the “Services”).
                        This Privacy Policy constitutes a binding and enforceable legal contract between HipRez and you - so please read it carefully.
                        You may visit and/or use the Services only if you fully agree to this Privacy Policy - and by accessing and/or using any of the Services, you signify and affirm your informed consent to this Privacy Policy, including to the collection and processing of your Personal Information as defined and explained below.
                        Please note: you are not obligated by law to provide us with any information. You hereby acknowledge, warrant and agree that any information you do provide us is provided of your own free will and consent, for the purposes and uses described herein.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>WHAT INFORMATION DO WE COLLECT?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        We collect information from you when you register on our site, upload your resume or job information, place an order, subscribe to our products, or fill out a form.
                        When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, or credit card information. You may, however, visit our site anonymously.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>WHAT DO WE USE YOUR INFORMATION FOR?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        <p class="text-left col-md-12"> Any of the information we collect from you may be used in one of the following ways:</p>
                        <br><br>
                        <ul class="a_ul_privacy_poll">
                            <li>To personalize your experience (your information helps us to better respond to your individual needs)</li>
                            <li> To further develop, customize and improve our Services, based on Visitors’ and Users’ common or personal preferences, experiences and difficulties</li>
                            <li>To personalize your experience (your information helps us to better respond to your individual needs)  To process transactions Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</li>
                            <li> To provide our Users with ongoing customer assistance and technical support</li>
                            <li>To send periodic emails regarding order information or advanced new features</li>
                            <li> To comply with any applicable laws and regulations.</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>HOW DO WE PROTECT AND STORE YOUR INFORMATION?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.

                        After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>DO WE USE COOKIES?</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        HipRez, together with its marketing, analytics and technology partners, uses certain monitoring and tracking technologies (such as cookies, pixels, tags and scripts). These technologies are used in order to maintain, provide and improve our Services on an ongoing basis, and in order to provide our Visitors, our Users and their Users-of-Users with a better experience. For example, thanks to these technologies, we are able to maintain and keep track of our Visitors and Users’ preferences and authenticated sessions, to better secure our Services, to identify technical issues, user trends and effectiveness of campaigns, and to monitor and improve the overall performance of our Services. </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>THIRD PARTY LINKS</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>YOUR CONSENT</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        By using our site, you consent to our Terms and Privacy Policy.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>CHANGES TO OUR TERMS AND PRIVACY POLICY</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        If we decide to change our privacy policy or terms, we will update the Privacy Policy modification date below.
                        This policy was last modified on October 2, 2017.
                    </p>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="a_policy_header_privace_div">
                    <h4>CONTACT US</h4>
                    <p class="col-md-11 a_policy_header_privace_p">
                        If there are any questions regarding this privacy policy please feel free to contact us using the information below.
                        HipRez.com
                        support@hiprez.com

                    </p>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="content">
            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <img class="footer-logo-img" src="../assets/images/logo2.png">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p>+961311566</p>
                                <p><a href="">info@moodfit.com</a></p>
                                <p class="icons-content">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <p><a href="#!/about">About</a></p>
                                <p><a href="#!/privacy-policy">Privacy Policy</a></p>
                                <p><a href="#!/terms-of-use">Terms of use</a></p>
                                <p><a href="#!/contact-us">Contact Us</a></p>
                                <p><a href="#!/faq">FAQ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p class="text-center">Copyright 2017. All rights reserved</p>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $(window).scrollTop(0);
        })
    </script>
</main>