<div class="billing-page domain-name-page billing-page-background thank-page" ng-controller="billingController">
    <div class="left-side">
        <img src="/assets/images/logo2.png" class="logo" alt="">
        <br><br><br>
        <h4>Share it with your friends</h4>

            <ul class="a_share_social">
                <li class="face_i"><i class="fa fa-facebook" aria-hidden="true"></i> Share</li>
                <li class="tweet_i"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</li>
                <li class="linkedin_i"><i class="fa fa-linkedin" aria-hidden="true"></i> Share</li>
            </ul>

    </div>

    <div>
        <div class="right-side">
            <div class="login-header-logo visible-xs">
                <a href="#!/">
                    <img src="assets/images/logo2.png" class="header-logo-img">
                </a>
            </div>
            <div class="row">
                <div class="clearfix"></div>
                <div class="col-md-8 col-md-offset-2 col-sm-12 billing-info-content">
                    <div class="domain-name-content">
                        <h3><span ng-bind="user.name"></span>, your resume site is now being designed! You will receive it in 1-3 business days.</h3>
                        <div class="animation-content">
                            <img src="../../assets/images/timelimit.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top: 100px;">
                    <div class="help-content col-md-offset-2">
                        <p class="col-md-10 text-justify">We have successfully processed your order and you will be able to enjoy the full power of HipRez very soon!</p>
                    </div>
                </div>
                <div class="col-md-1 hidden-sm"></div>
            </div>
        </div>
    </div>
</div>
<footer class="hidden-md hidden-lg hidden-sm">
    <div class="content">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="item">
                            <img class="footer-logo-img" src="../assets/images/logo2.png">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item">
                            <p>+961311566</p>
                            <p><a href="">info@moodfit.com</a></p>
                            <p class="icons-content">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item">
                            <p><a href="#!/about">About</a></p>
                            <p><a href="#!/privacy-policy">Privacy Policy</a></p>
                            <p><a href="#!/terms-of-use">Terms of use</a></p>
                            <p><a href="#!/contact-us">Contact Us</a></p>
                            <p><a href="#!/faq">FAQ</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <p class="text-center">Copyright 2017. All rights reserved</p>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function(){
        window.scrollTo(0, 0);
    })
</script>