<div class="ajax-popup blog-single">

	<div class="container">

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 blog-main-content">

                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-single-feature-image overlay">
                        <img src="images/blog-single.jpg" alt="Blog Single">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-single-content"> 

                        <div class="blog-single-title">
                            <div class="blog-single-title-seprator"></div>
                            <h2>
                                we are creative ones
                            </h2>
                        </div>
                        <div class="blog-single-description">
                            <p>
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim. auctor a ornare odio. Sed non  mauris vitae erat consequat auctor.
                            </p>

                            <span>
                                <i class="fa fa-calendar"></i> december 16, 2014 &nbsp;&nbsp;/&nbsp;&nbsp;
                                <i class="fa fa-comments-o"></i> 8 comments
                           </span>
                        </div>

                        <div class="blog-single-comments">
                            <ul>

                                <li>
                                    <div class="comment-avatar overlay">
                                        <img src="images/comments-avatar.jpg" alt="Avatar">
                                    </div>
                                    <h5>
                                        John Doe
                                    </h5>
                                    <p>
                                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsumiob.
                                    </p>
                                    <div class="comment-meta">
                                        <a href="blog-single-ajax.html#"><span class="reply-button">reply</span></a>
                                        <span class="comment-date">dec 16, 2014</span>  
                                    </div>    
                                </li>

                                <ul>
                                    <li>
                                        <div class="comment-avatar overlay">
                                            <img src="images/comments-avatar.jpg" alt="Avatar">
                                        </div>
                                        <h5>
                                            John Doe
                                        </h5>
                                        <p>
                                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsumiob.
                                        </p>
                                        <div class="comment-meta">
                                            <a href="blog-single-ajax.html#"><span class="reply-button">reply</span></a>
                                            <span class="comment-date">dec 16, 2014</span>  
                                        </div>  
                                    </li>
                                </ul>

                                <li>
                                    <div class="comment-avatar overlay">
                                        <img src="images/comments-avatar.jpg" alt="Avatar">
                                    </div>
                                    <h5>
                                        John Doe
                                    </h5>
                                    <p>
                                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsumiob.
                                    </p>
                                    <div class="comment-meta">
                                        <a href="blog-single-ajax.html#"><span class="reply-button">reply</span></a>
                                        <span class="comment-date">dec 16, 2014</span>  
                                    </div>   
                                </li>

                            </ul>
                        </div>

                        <div class="comment-form">
                                <input type="text" id="name" name="name" placeholder="name">
                                <input type="email" id="email" name="email" placeholder="e-mail">
                                <input type="text" id="website" name="website" placeholder="website">
                                <textarea name="message" id="message" placeholder="message"></textarea>
                            <input type="submit" name="submit" id="submit" value="submit">
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-lg-3 blog-sidebar">
                <div class="sidebar-item">
                    <h3 class="sidebar-title">
                        categories
                    </h3>
                    <ul>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Web Design
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Photography
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Wordpress
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Illustrations
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Developing
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-item">
                    <h3 class="sidebar-title">
                        Text
                    </h3>
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec in erat justo.
                    </p>
                </div>

                <div class="sidebar-item">
                    <h3 class="sidebar-title">
                        Links
                    </h3>
                    <ul>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Web Design
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Photography
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Wordpress
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Illustrations
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Developing
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-item">
                    <h3 class="sidebar-title">
                        Tags
                    </h3>
                    <ul>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Web Design
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Photography
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Wordpress
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Illustrations
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-ajax.html#">
                                Developing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="popup-close">
        <a class="ajax-popup-dismiss" href="blog-single-ajax.html#">
            <i class="fa fa-close"></i>
        </a>
    </div>

</div>